[submodule ".registry"]
	path = .registry
	url = https://github.com/ivanharvard/ivanharvard.r-universe.dev
	branch = HEAD
[submodule "prspace"]
	path = prspace
	url = https://github.com/ivanharvard/prspace
	subdir = r
